.NavBar {
    overflow: hidden;
    background-color: #28415A;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.NavBar a {
    float: left;
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 5%;
    width: 10%;
    text-decoration: none;
    /* font-size: 17px; */
}

.NavBar a:hover {
    background: #C5D6ED;
    color: #28415A;
    cursor: pointer;
}

.NavBar a.active {
    background-color: #FFFFFF;
    color: #28415A;
}
