.App {
    text-align: center;
    width: 100vw;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    margin-left: 0;
    padding: 0;
}

main {
    padding: 1rem;
}

.Component {
    text-align: center;
    background-color: #28415a;
    width: 100vw;
    border-radius: 0px 0px 40px 40px;
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
}
