.cycle-area {
    display: grid;
}

.cycle-nav {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}

.cycle-button {
    width: 175px;
    height: 175px;
    background: linear-gradient(180deg, #c5d6ed 0%, #e6ebf5 100%);
    border-radius: 50%;
    transform: translate(37%, 37%);
    padding: 0;
    margin: 0;
    transition: var(--transition-speed);
}

.cycle-button h1 {
    margin: 0;
}

.cycle-button p {
    margin: 0;
}

.cycle-button:hover {
    filter: grayscale(0%) opacity(1);
    background: linear-gradient(180deg, #000000 0%, #28415a 100%);
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 60px rgba(118, 155, 207, 0.8);
}

.cycle-button:disabled {
    background: linear-gradient(180deg, #eeeeee 0%, #e6ebf5 100%);
    cursor: auto;
}

.cycle-button:disabled h1 {
    margin: 0;
    color: #ffffff;
}

.cycle-button:disabled p {
    margin: 0;
    color: grey;
}

.icon svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.icon-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.icon:hover svg {
    transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .cycle-area {
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
    }

    .cycle-wheel {
        grid-column: 2;
        grid-row: 1;
    }

    .cycle-button {
        grid-column: 2;
        grid-row: 1;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .cycle-area {
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
    }

    .cycle-wheel {
        grid-column: 2;
        grid-row: 2;
    }

    .cycle-button {
        grid-column: 2;
        grid-row: 2;
    }
}

/* Extra Large screens */
@media only screen and (min-width: 1200px) {
    .cycle-button {
        grid-column: 2;
        grid-row: 2;
        transform: translate(47%, 36%);
    }
}
