.journal-container {
    height: 320px;
}

.journal-card {
    width: 150px;
    height: 225px;
    background: linear-gradient(180deg, #c5d6ed 0%, #e6ebf5 100%);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.journal-body {
    width: 150px;
    height: 200px;
}
