.App {
    text-align: center;
    background-color: #E6EBF5;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
}

h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  align-items: center;
  text-align: center
}

h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  display: flex;
  align-items: center;
  text-align: center
}

h3 {

}

h4 {

}

h5{

}

p{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;
}

.dark-text {
  color: #28415A;
}

.light-text {
  color: #ffffff;
}

.grey-text {
  color: #8E8E93;
}

button {
width: 300px;
height: 46px;
left: 35px;
top: 637px;
border-radius: 40px;
box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.0905231);
}

.dark-btn{
  background: linear-gradient(180deg, #000000 0%, #28415A 100%);
}

.light-btn{
  background: linear-gradient(180deg, #ffffff 0%, #FFFFFF 100%)
  
}